{% load i18n %}
{% load taxed_prices %}

<div class="cart__total">
  <div class="row">
    <div class="col-10 cart__total__subtotal">
      <h3>{% trans "Total" context "Order subtotal" %}</h3>
      <small>{% trans "Shipment and taxes calculated at checkout" context "Cart summary text" %}</small>
    </div>
    <div class="col-2">
      {% spaceless %}
          <h3 class="text-left cart-total"><span>{{ total_quantity }}</span>
          </h3>
      {% endspaceless %}
    </div>
  </div>
</div>
